<html>
    <body>
        <h1>Tecnologias Front End</h1>
        <!-- <%=dados[0].conteudo%> -->

        <%for(var i in dados) { %>
            <p><%=dados[i].conteudo%></p>
         <%}%>

        <!-- <% for(i=0; i < dados.lenght; i++){ %>
            <p><%=dados[i].conteudo%></p>
        <%}%> -->
    </body>
</html>